@use "variables" as v;
@use "mixins" as m;

/*
Hangman
--------------------------------------------- */

.hangman {
  @include m.flex-centered-row;
  flex-direction: column;
}

#hangman-container {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  background-color: black;
  @include m.project-border;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding-top: 1rem;
}

#hangman-image-container {
  width: clamp(200px, 50%, 600px);
  aspect-ratio: 1/1;
}

#hangman-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#hangman-controls {
  @include m.flex-centered-row;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  @include m.project-border;
}

.hangman-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key-btn {
  width: 1.5rem;
  line-height: 1rem;
  font-size: .7rem;
}

#letter-container {
  display: flex;
  gap: .5em;
  font-size: 2rem;
  font-weight: bold;
  .letter {
    border: 1px solid #bf463b;
    padding: .5em;
  }
}
