/* SASS mxins
--------------------------------------------- */

@use "variables" as v;

@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@mixin project-border {
    border: 2px solid v.$secondary_color;
}