/* SASS mxins
--------------------------------------------- */

// @mixin rounded-box($xoffset, $yoffset, $rounded-corners, $border-color){  
//     border-radius:$rounded-corners;    
//     border:3px solid $border-color;    
// }

@use "variables" as v;

@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@mixin project-border {
    border: 2px solid v.$secondary_color;
}